.slider-container {
    width: 100%;
    height: 260px;
    background: #cccccc;
    line-height: 260px;
    vertical-align: middle;
    text-align: center;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-content {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* TABS ON MAIN PAGE */

.product-tabs {
    width: 100%;
    height: 260px;
    margin-top: 20px;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    margin: 20px 0 100px 10px;
}
h1 span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
}

#tabs {
    width: 93%;
    float: none;
    list-style: none;
    position: relative;
    text-align: left;
}
#tabs li {
    float: left;
    display: block;
}
#tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#tabs label {
    display: block;
    padding: 14px 21px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    background: #484848;
    cursor: pointer;
    position: relative;
    top: 4px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
}
#tabs label:hover {
    background: #484848;
}
.tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 260px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #cccccc;
}
#tabs [id^="tab"]:checked + label {
    top: 0;
    padding-top: 17px;
    background: #cccccc;
}
#tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

p.link {
    clear: both;
    margin: 380px 0 0 15px;
}

p.link a:hover {
    background-color: #484848;
}