/**
 * Created by PhpStorm.
 * User: Gergely Siladi
 * Date: 9. 12. 2015
 * Time: 12:00
 */
 
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

.title-page{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #595959;
    border-bottom: 1px solid #ccc;
    padding: 25px;
}

.cart-body{
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}

.product-body{
	vertical-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 100px;
}

.product-img{
	display: inline-block;
	width:100px;
}

.product-name{
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-style: normal;
	font-weight: 200;
	color: #595959;
	vertical-align: 40px;
	display: inline-block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.product-price{
	display: inline-block;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: 40px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-style: normal;
	font-weight: 700;
	color: #595959;
}

.product-qty{
	display: inline-block;
	width: 8%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 200;
	vertical-align: 42px;
}

input[type="number"]{
	display: inline-block;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 200;
}

.sub{
	width: 80%;
	vertical-align: center;
	text-align: right;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-style: normal;
	font-weight: 200;
	color: #595959;
}

.bold{
	font-weight: 700;
}

.pro-button{
    font-family: 'Source Sans Pro', sans-serif;
    width: 35%;
    margin-left: auto;
	margin-right: auto;
    margin-top: 40px;
	margin-bottom: 40px;
    padding: 20px;
    display: block;
    font-size: 2.2vw;
    font-weight: 600;
    text-align: center;
    background-color: #34A994;
    border-style: none;
    color: white;
    outline: none;
	text-decoration: none;
    border: 3px solid #fbfbfb;
}

.pro-button:hover{
    background-color: #fbfbfb;
    border: 3px solid #34A994;
    color: #34A994;
    outline: none;
    cursor: pointer; cursor: hand;
}