/*main div*/
#product-preview{
    text-align: center;
    display: block;
    height: 100%;

}
/*page header*/
.product-name{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product-name h1{
    color:  #595959;

}

/*page body*/
#about-product{
    width: 100%;

    min-height: 350px;
    border-top: 1px solid #ccc;

    display: block;
    text-align: center;

}

.product-slider{
    width: 30%;
    height: 350px;
    border: 1px solid;
    margin-top: 20px;
    float: left;
    display: block;
    background-color: #595959;
}

#product-info{
    width: 67%;
    height: 350px;
    min-height: 350px;
    float: right;
    display: block;
    margin-top: 20px;
    text-align: start;


}

.product-ranking{
    width: 40%;
    height: 50px;
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
}

.product-brand{
    width: 40%;
    height: 50px;
    color: #595959 ;
    font-weight: bold;
    display: block;
    margin:20 0;
}
.short-describtion{
    width: 40%;
    height: 50px;
    color: #595959 ;
    display: block;
    margin: 20 0;

}

.cost-form{
    width: 40%;
    height: 100px;
    border: 1px solid #ccc;
    margin-top: 56px;
    text-align: center;
    color: #595959 ;

}

.cost{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 4;
    font-size: 23px;
}

.submit-input{
    height: 100%;
    width: 48%;
    float: right;
    display: block;
}
.submit-input input{
    margin-top: 30px;
    background-color: white;
    border: none;
    font-weight: bold;
    color: #595959 ;
    font-size: 23px;
}
.submit-input input:hover{
    color:#34A994;
}
/*page footer*/
.description-title{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    text-align: center;

}
.description-title h2{
    color:  #595959;
}

.description-text{
    width: 100%;
    color: #595959 ;
}

.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}
.group{
    *zoom:1 ;
}
