#tab{
    color: #595959;
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.title-page{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
#formulars{
    display: block;
    margin: 30px;
}
#menu-content{
    width: 18%;
    height: 100px;
    border:1px solid #ccc;
    display: block;
    float: left;
}
#menu {
    list-style: none;
    padding: 0;
}
#menu li {

    margin-top: 10px;
}
#menu li a{
    color: #595959;
    font-weight: bold;
    text-decoration: none;
}
#menu li a:hover{
    color:#34A994;
}
#all-tab{
    width: 80%;
    display: block;
    float: right;

}
/**/
.tab-content {
    display: none;
}
.tab-content:target {
    display: block;
}
/*formular-input*/
.form ul{
    list-style: none;
    margin-top: 20px;
}
.form ul li{
    display: block;
    margin-top: 25px;
    text-align: center;
}
.input{
    width: 50%;
    height: 35px;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
}
.submit-button{
    border:none;
    background: white;
    font-size: 20px;
    font-weight: bold;
    color: #595959 ;
}
.submit-button:hover{
    color: #34A994 ;
}
/*switching*/
.tab-content {
    z-index: 0;

    height: 380px;
    border: 1px solid #ccc;
}
.tab-content:first-child {
    z-index: 1;
}
.tab-content:target {
    z-index: 2;
}
/*Floating*/
.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}
.group{
    *zoom:1 ;
}