.reg-formular{
    text-align: center;
    color: #595959;
    width:100%;
    margin-bottom: 30px;

}
.title-page{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


#reg-content{
margin-top: 30px;
}

.left-side{
    border: 1px solid #ccc;
    width: 18%;
    height: 100px;
    float: left;
    display: block;

}
.left-side ul{
    list-style: none;
}
.nav-bar{
    display: block;
    text-decoration: none;
}
.nav-bar  li{
    margin-top: 10px;
}
.formular-link{
    text-decoration: none;
    font-weight: bold;
    color: #595959;


}
.formular-link:hover{
    color:#34A994;
}

.right-side{
    width: 80%;
    height: 200px;
    border: 1px solid #ccc;
    display: block;
    float: right;

}
.right-side ul{
    list-style: none;
    margin-top: 20px;
}
.right-side ul li{
    display: block;
    margin-top: 25px;
    text-align: center;
}

.input{
    width: 50%;
    height: 35px;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
}
.submit-button{
    border:none;
    background: white;
    font-weight: bold;
    color: #595959 ;
}
.submit-button:hover{
    background-color: #34A994 ;
}
.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}
.group{
    *zoom:1 ;
}