.aboutUs {
    width: 100%;
    height: 850px;
}
.left, .right {
    width: 50%;
    height: 100%;
    float: left;
}

.left {
    padding: 3% 5% 5% 5%;
}

.left ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
.left ul li:nth-child(4),.left ul li:nth-child(8) {
    margin-bottom: 30px;
}
.info {
    color: #34A994;
    font-weight: bold;
    float: right;
}

article {
    color: #484848;
    margin-top: 10px;
}

.right h4 {
    margin: 5% 0 0 5%;
}
.right iframe {
    width: 90%;
    height: 50%;
    margin: 5%;
    box-shadow: 2px 2px 5px #cacaca, -2px -2px 5px #cacaca;
}