.main {
    min-height: 500px;
}


.side-nav {
    width: 20%;
    height: 100%;
    float: left;
}

.admin-nav {
    width: 90%;
    height: 300px;
    margin-top: 30px;
    border: 1px solid #cacaca;
    background: #fff;
}

.admin-nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.admin-nav ul li {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    border-bottom: 1px solid #cacaca;
}

.admin-nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #484848;
    padding-left: 30px;
    font-weight: bold;
    text-decoration: none;
}

.admin-nav ul li a:hover {
    color: #fff;
    background: #34A994;
}

.admin-panel {
    width: 80%;
    height: 100%;
    float: left;
    text-align: center;
    border-top: 1px solid #CACACA;
    margin-top: 30px;
}

.items {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    list-style-type: none;
}

.items li {
    width: 100%;
    padding: 10px 10px 10px 60px;
	height: 44px;
}

.items li:nth-child(2n), .items li:nth-child(2n) .page-link>i {
    background: #d8f3ed;
}

.username {
    float: left;
	width: 350px;
	text-align: left;
}

.prodname {
    float: left;
    float: left;
    text-align: left;
    width: 670px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email {
    display: inline-block;
    width: 300px;
    text-align: left;
}
.control-icons{
    color: green;
}

.user-controls {
    float: right;
}

.user-controls a {
    margin: 0 10px;
}
.edit-view{
    text-align: left;
    margin-top: 10px;
    margin-left: 210px;
}

.view{
    padding-top: 10px;
    margin-left: 30px;
}

.view-controls{
    margin-right: 10px;
    color: #34A994;
}

.paging{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:20px;
}
.displayAmount {
    float: left;
}

.page{
    padding-right:10px;
}
/*ADD PRODUCT CSS*/
.addProductForm{
    width: 600px;
    margin: 0 auto;
}

.addProductForm ul li{
    list-style: none;
    margin-top: 15px;
    display: inline-block;
    width: 500px;
}
.addProductForm ul li label{
    text-align: right;
}
.addProductForm ul li input,textarea,select{
    width: 50%;
    max-width: 250px;
    height: 35px;
}

.addProductForm ul li select{
    height: 35px;
}
.addProductForm ul li textarea{
    width: 50%;
    max-width: 250px;
    height: 80px;
}
.submit-button{
    background: white;
    width: 150px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    background: #34A994;
    border-style: none;
    color: white;
    outline: none;
    cursor: pointer;
}
.submit-button:hover{
    background-color: #fbfbfb;
    border: 3px solid #34A994;
    color: #34A994;
    outline: none;
    cursor: pointer; cursor: hand;
}
.categories{
    width: 250px;
    margin: 0 auto;
}
.category{
    float: left;
}
.category select{
    width: 100px;
    height: 35px;
}
#subcategory{
    display: inline-block;
    width: 250px;
}
#subcategory select{
    width: 250px;
    display: block;
    margin-top: 5px;
}
/*.subcategory-choice{
    display: inline-block;
    margin-top: 5px;
    width: 250px;
    height: 50px;
}
.subcategory-choice select{

}*/
/*#subcategory1{
 margin-left: 150px;
    margin-top: 5px;
}*/
/*.subcategory select{
    width: 100px;
    height: 35px;
}*/

.page-link>i{
    line-height: 15px;
    vertical-align: middle;
	font-decoration: none;
	color: #34A994;
}

.userView {
    text-align: left;
    padding-left: 20%;
    list-style-type: none;
}

.userView li{
    width: 50%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.inputName {
    width: 150px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    padding-top: 5px;
}

.edit-input{
    width: 400px;
    height: 27px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    padding-left: 10px;
    padding-top: 8px;
}