/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Jan-2016, 21:43:31
    Author     : Szilágyi
*/
*{
   //border: 1px solid black;
}
body{
   width: 678px;
   height: 100%;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 30px;
   margin: auto;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-top: 1px solid black; 
}

h1{
   
    font-size: 30px;
    width:50%;
    
    margin-bottom: 0px;
}

ul{
    list-style-type: none;
}

.invoice{
   text-decoration: underline;
   font-size: 36px;
   text-align: right;
   
}

.comp{
    
    width: 30%;
    
}

.customer{
   font-weight: 700;
}

.cust{
    padding-top: 30px;
    padding-right: 50px;
    
    text-align: right;
    
    vertical-align: bottom;
}

h3{
    margin-bottom: 0px;
    margin-top: 0px;
}

table{
    border: 1px solid black; 
    width: 100%;
    text-align: right;
}

tr:nth-child(1){
    background-color: black;
    color: white;
    text-align: left;
}

td:nth-child(1){
    text-align: left;
}

td{
    padding: 5px;
}

.summ{
    font-size: 24px;
    padding: 20px;
    padding-right: 50px;
    text-align: right;
   
    
}

.price{
    padding-right: 0px;
    font-size: 24px;
    text-align: right;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}