/**
 * Created by PhpStorm.
 * User: Gergely Siladi
 * Date: 9. 12. 2015
 * Time: 12:00
 */
 
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

.title-page{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #595959;
    
    padding: 25px;
}

.cart-body{
	border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        width: 1000px;
        margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.product-body{
	vertical-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: 100px;
	display: block;
}

.product-img{
	display:inline-block;
	
    -webkit-box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    -moz-box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
	vertical-align:middle;
	width:100px;
	height:100px;
	margin-left: 1%;
	margin-right: 1%;
}

.product-name {
	font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-style: normal;
	font-weight: 200;
	color: #595959;
	display: inline-block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	margin-bottom: 0;
	vertical-align:middle;
	text-align: center;
	cursor: pointer; cursor: hand;
	height: 100px;
	
}

.namespan {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

.kus{
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
	font-weight: 200;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	margin-bottom: 0;
	vertical-align:middle;
}

.removeItem{
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        font-style: normal;
	font-weight: 200;
	margin-left: 1%;
	margin-right: auto;
	margin-top:9px;
	margin-bottom: 0;
	vertical-align:middle;
	text-decoration: none;
}

.removeItem img {
    width: 28px;
    height: 28px;
}

.product-name a {
    color: #595959;
    text-decoration: none;
}

.product-price{
	display: inline-block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	vertical-align:middle;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-style: normal;
	font-weight: 700;
	color: #595959;
}

.product-qty{
	display: inline-block;
	width: 8%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 200;
	vertical-align:middle;
}

input[type="number"]{
	display: inline-block;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 200;
}

.sub{
	width: 80%;
	vertical-align: center;
	text-align: right;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-style: normal;
	font-weight: 200;
	color: #595959;
}

.bold{
	font-weight: 700;
        font-size: 24px;
}

.pro-button{
    font-family: 'Source Sans Pro', sans-serif;
    width: 20%;
    margin-left: auto;
	margin-right: auto;
    margin-top: 40px;
	margin-bottom: 40px;
    padding: 20px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: #34A994;
    border-style: none;
    color: white;
    outline: none;
	text-decoration: none;
    border: 3px solid #fbfbfb;
}

.pro-button:hover{
    background-color: #fbfbfb;
    border: 3px solid #34A994;
    color: #34A994;
    outline: none;
    cursor: pointer; cursor: hand;
}

.empty {
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.disabled {
    background: #cacaca;
}

.disabled:hover {
    background-color: #fbfbfb;
    border: 3px solid #cacaca;
    color: #cacaca;
    outline: none;
    cursor: pointer; cursor: hand;
}

@media screen and (max-width: 1120px) {
    .product-name {
	    font-size: 20px;
		width: 30%;
    }
}