@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

.error {
    position: absolute;
    color: #FF0000;
    margin-top: 3%;
    right: 2%;
    font-size: 22px;
}

#errorMessage {
    color: #FF0000;
    margin: 2% 5% 0 0%;
    float: right;
    font-size: 22px;
}

.checkoutpage{
    width: 100%;
    height: 700px;
}

.checkout-body{
    height: 80%;
    margin-top: 20px;
}
.title-page{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-style: normal;
    color: #595959;
    border-bottom: 1px solid #ccc;
    padding: 25px;
}

.leftside{
    width: 50%;
    margin-top: 40px;
    float: left;
}

.nav-bar{
    
    display: inline-block;
    width: 30%;
    font-size: 36px;
    font-weight: 200;
    list-style-type: none;
    
    
}

.formular-link{
    font-size: 36px;
    font-weight: 200;
    list-style-type: none;
    display: inline-block;
    margin-top: 1%;
    line-height: 60px;
    letter-spacing: 2px;
}

#checkoutForm {
    margin-top: 1%;
}

.form-inp{
    float: right;
    padding-left: 35px;
    display: inline-block;
    width: 100%;
    font-weight: 200;
    border-right: 1px solid #ccc;
    margin-top: -25%;
    
}

input[type="text"]{
   float: right;
   width: 50%;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 25px;
   font-weight: 200;
   margin: 2% 5% 0 0;
   line-height: 50px;
   padding-left: 2%;
}


.text-bar{
    position: relative;
    list-style-type: none;
}

.rightside{
    width: 50%;
    float: right;
    margin-top: 40px;
}

.subtotal{
    display: block;
    font-size: 36px;
    text-align: center;
    margin-top: 80px;
    
}

.sum{
    display: block;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
 }
 
 .querylogin{
    display: block;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    margin-top: 5px;
 }
 
 .boldlogin{
    font-weight: 600;
 }
 .boldlogin:hover{
    color: #34A994;
    cursor: pointer; cursor: hand;
 }
 

.order-button{
    font-family: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-top: 12px;
    padding: 30px;
    display: block;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    background-color: #34A994;
    border-style: none;
    color: white;
    outline: none;
    border: 3px solid #fbfbfb;
}

.order-button:hover{
    background-color: #fbfbfb;
    border: 3px solid #34A994;
    color: #34A994;
    outline: none;
    cursor: pointer; cursor: hand;
}
