@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

.error {
    color: #FF0000;
    white-space: nowrap;
}

.checkoutpage{
    margin-bottom: 40px;
}

.checkout-body{

    margin-top: 20px;
}
.title-page{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-style: normal;
    color: #595959;
    border-bottom: 1px solid #ccc;
    padding: 25px;
}
.leftside{
    float: left;
    margin-left: 20px;
    width: 45%;
    border-right: 1px solid  #CCCCCC;
}
.form-inp ul li{
    list-style: none;
    margin-top: 15px;
    min-width: 150px;
    max-width: 250px;
    width: 100%;

}
.form-inp ul li label{
    display: block;
    padding-left: 10px;
    font-size: 25px;
}
.form-inp ul li input{
    width: 100%;
    max-width: 250px;
    height: 35px;
}
.delivery{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.delivery label{
    font-size: 25px;
}
.delivery input{
    margin-left: 15px;

}
.pay{
    margin-left: 15px;
}
.pay label{
    font-size: 25px;

}
.pay input{
    margin-left: 15px;
}
/*right side*/
.rightside{
    float: left;
    margin-top: 40px;
    width: 45%;
}

.subtotal{
    display: block;
    font-size: 36px;
    text-align: center;
    margin-top: 80px;

}

.sum{
    display: block;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.querylogin{
    display: block;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    margin-top: 5px;
}

.boldlogin{
    font-weight: 600;
}
.boldlogin:hover{
    color: #34A994;
    cursor: pointer; cursor: hand;
}


.order-button{
    font-family: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-top: 12px;
    padding: 30px;
    display: block;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    background-color: #34A994;
    border-style: none;
    color: white;
    outline: none;
    border: 3px solid #fbfbfb;
}

.order-button:hover{
    background-color: #fbfbfb;
    border: 3px solid #34A994;
    color: #34A994;
    outline: none;
    cursor: pointer; cursor: hand;
}
input[type="text"]{
    font-family: 'Source Sans Pro', sans-serif;
    ont-weight: 200;
    font-size: 16px;
    padding-left: 10px;


}