/**
 * Created by PhpStorm.
 * User: Matus Kacmar
 * Date: 7. 12. 2015
 * Time: 14:23
 */

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

html {
    width: 100%;
    box-sizing: border-box;

}
*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
   /* max-width: 1500px;*/


    /*margin: 0 auto;*/
    color: #595959;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: url("../img/photographyc.png");
    /*
    background: no-repeat;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #09E0AE),
            color-stop(0.66, #F7FCFC),
            color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(bottom, #09E0AE 0%, #F7FCFC 66%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #09E0AE 0%, #F7FCFC 66%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #09E0AE 0%, #F7FCFC 66%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #09E0AE 0%, #F7FCFC 66%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #09E0AE 0%, #F7FCFC 66%, #FFFFFF 100%);
    cursor: default;*/
}

.gradientbg{
	position: relative;
	
	height: 100%;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(237,237,237,0) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(237,237,237,0) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ededed', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.container {
    width:1170px;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    background: #fbfbfb;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}
/************************ HEADER ***************************/
#page-header {
    position: relative;
    width: 1120px;
    height: 200px;
    color: #605f5f;
    margin: auto;
    border-bottom: 3px solid #34A994;
    padding-bottom: 0px;
}
.greenBar {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #34A994;
    z-index: 2;
    width: 100%;
}
.top {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 100;
    padding-top: 5px;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display:block;
    width: 100%;
    height: 30px;
    vertical-align: top;
}
.welcome {
    width: 33.3%;
    height: 100%;
    float: left;
    font-size: 13px;
    letter-spacing: 1.4px;
    color: #605f5f;
    padding: 5px 0px 0px 10px;
}
.welcome-label{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    vertical-align: middle;
    color: white;
    line-height: 21px;
}
.welcome-label img {
    float:left;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    vertical-align: middle;
}
.title {
    width: 360px;
    margin: auto;
    float: left;
    margin-top: 66px;
}

.welcome-buttons{
    font-size: 13px;
}
.welcome-buttons a {
    color: white;
    text-decoration: underline;
}
.welcome-buttons a:hover {
    text-decoration: none;
}
.login-frame {
    visibility: hidden;
    position: relative;
    width: 355px;
    height: 106px;
    background-color: transparent;
    margin-top: 9px;
    border: 1px solid #cccccc;
    border-top: 0px solid #cccccc;
}

.login-frame form ul {
    height: 100%;
    width: 103%;
    list-style-type: none;
    float: left;
}
.login-frame form ul li {
    display: inline-block;
    width: 42%;
    height: 200%;
    text-align: left;
    margin: 4% 0% 0% 4%;
}
.login-frame form ul li input {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;
}
.login-frame form ul li input[type="submit"] {
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #34A994;
    border: none;
}
.login-frame form ul li a {
    padding: 0;
}

.forgotpass{
    padding-left: 16px;
    
}

.replace-header{
    margin-top: 32px;
}

.search {
    width: 33.3%;
    height: 100px;
    float: right;
    font-size: 14px;
    text-align: right;
    padding-top: 0px;
    letter-spacing: 0.5px;
}
.search input[type="search"] {
    width: 275px;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: #605f5f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    
}
.search input {
    float: left;
    padding-left: 10px;
    border: none;
    height: 95%;
    padding: 2px 0px;
    background: #fbfbfb;
    margin-left: 7px;

}
.search input:focus{
    outline: none;
}
#searchForm{
    width: 90%;
    margin-left: 10%;
    font-size: 20px;
}
.search-bar{
    float: left;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    background:#fbfbfb;
    font-size: 12px;
    letter-spacing: 1.4px;
    border-radius: 5px;
    color: #605f5f;
}
#search::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

::-webkit-search-cancel-button:after {  
    content: '';  
    display: block;
    width: 14px;
    height: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top left;
}
.cart {
    float: right;
    margin-right: 20px;
    margin-top: 1px;
}
.shopicon{
    margin-right: 10px;
    margin-top: 3px;
    height: 25px;
    width: 20px;
    
}

.cart-title {
    float: left;
    line-height: 30px;
    vertical-align: middle;
    font-size: 13px;
    letter-spacing: 1.4px;
    color: #605f5f;
    cursor: pointer;
}
.cart-title ul{
    list-style: none;
}

.cart-title a {
    color: white;
    text-decoration: none;
    padding-right: 0px;
}
.cart-title:hover {
    
}

.amount {
    color: white;
}

.euro{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #2ba08b;
}

.lupa{
    float: left;
    padding-top: 10px;
    cursor: pointer;
    margin-right: 14px;
    
}
#fa-2x {
    font-size: 1.5em;
}

.page-nav {
    text-align: center;
    height: 30px;
}
.nav {
    list-style-type: none;
    height: 30px;
}
.nav li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.4px;
    color: #605f5f;
}
.nav li a {
    display: block;
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1.4px;
    color: #605f5f;
    height: 30px;
    padding: 5px 20px 5px 20px;
	
}
.nav li a:hover{
    font-weight: 900;
    color: #34A994;

}
.subnav {
    visibility: hidden;
    position: absolute;
    background: #fbfbfb;
    border: 1px solid #cccccc;
    border-top: none;
}
.subnav li {
    display: block;
}


/************************ MAIN ***************************/
.main  {
    width: 100%;
    height: 100%;
}
.slider-wrapper {
    
    height: 380px;
    margin: 30px 0px 30px 0px;
    
}

.tabs {
    width: 95%;
    height: 100%;
    margin: 20px auto;
}
.controls {
    display: table;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.controls ul {
    width: 100%;
    height: 100%;
    text-align: center;
}
.controls ul li {
    display: inline-block;
    height: 60px;
    width: 30%;
    list-style-type: none;
    border-right: 1px solid #cacaca;
}
.controls ul li:last-child {
    border: none;
}
.link {
    font-weight: lighter;
    font-size: 46px;
    font-weight: 200;
    color: #484848;
    text-decoration: none;
}

.link:hover{

    color: #34A994;
}
.arrow {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    margin-left: 10px;
    font-size: 20px;
}
.tab-content {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.tab-content p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.bottom-tab-content {
    width: 100%;
    height: 100%;
    padding-top: 0px;
}
.best-selling {
    width: 100%;
    height: 100%;
}
.top-rated {
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.new-arrivals {
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.row {
    width: 100%;
    height: 420px;
    margin-top: 20px;
}
.product-item {
    position: relative;
    display: inline-block;
    width: 22.85%; /*1225.48 35.138*/
    height: 100%;
    background: #cccccc;
    margin-bottom: 55px;
    overflow: hidden;
    margin-right: 2.86%;
    border: 1px solid #cacaca;
    vertical-align: top;
}
.row .product-item:nth-child(4){
    margin-right: 0;
}
.product-photo {
    position: relative;
    width: 100%;
    height: 55%;
    background: #fff;
}
.thumbnailImage {
    position: absolute;
    top: 0;
    left: 0;    
}
.notLoaded {
    visibility: hidden;
}
.loader {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
}
.product-description {
    width: 100%;
    height: 45%;
    background: #fff;
    text-align: center;
    padding-top: 10px;
}
.product-line {
    width: 50px;
    margin: 0 auto;
}
.product-name {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-body:hover .product-name{ 
    font-weight: normal; 
}
.addToCart {
    position: absolute;
    bottom: 0;
    display: block;
    width: 85%;
    padding: 10px;
    margin: 0% 7.5% 7.5% 7.5%;
    color: #fff;
    text-align: center;
    background: #34A994;
    text-decoration: none;
}
.messages {
    text-decoration: none;
    position: relative;
    bottom: 0px;
    left: 46%;
    color:#484848;
    font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
    cursor: pointer;
    
}
.messages:hover {
    color: #34A994;
}
.loadMore {
    text-decoration: none;
    position: relative;
    bottom: 0px;
    left: 24.5%;
    color:#484848;
    font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
	margin-top: 10px;
    border: none;
    background: none;
    font-weight: 400;
    cursor: pointer;
}
.loadMore:hover {
    color: #34A994;
}
.product-display{
    display: inline-block;
    width: 855px;
    margin-left: 30px;
    vertical-align: top;
}

.price i{
    font-weight: 100;
    padding: 5px;
    padding-top: 10px;
    color: #605f5f;
}
.admin-buttons{
	margin-bottom:40px;
    width: 160px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    
    margin-left:-108px;
}
.admin-buttons a{
    color: #34a994;
    padding: 20px;
}

.search-content{
	margin-left: 5px;
    display: inline-block;
	width: 1130px;
}
/*
.more {
    text-align: center;
    font-size: 30px;
}
.more a {
    color: #484848;
    text-decoration: none;
    line-height: 110px;
    vertical-align: middle;
}
*/
/************************ FOOTER ***************************/
.footer {
    color: white;
    display: block;
    background:#34A994;
    margin-top: 30px;
    width: 1140px;
    border-top: 1px solid #ccc;
   
    border-radius: 5px;
    height: 40px;
    
    
}
.text {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*color: #484848;*/
    font-weight: bold;
}
#footerWrap {
    float: left;
}
.contact-us {
    width: 100%;
    display: inline;
    color: white;
}
.contact-us ul li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.contact-us ul li {
    line-height: 22px;
    list-style: none;
}
.contact-us ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.mail{
    text-decoration: none;
    /*color:  #484848;*/
    font-weight: 600;

}
.mail:hover{
    color:  #484848;
}
.social-icons {
    width: 20%;
    font-size: 20px;
    text-align: center;
    float: right;
    height: 40px;
    padding-right: 2.5%
}
.social-icons ul{
    display: inline-block;
    
    vertical-align: middle;
}
.social-icons ul li{
    display: inline-block;
    margin: 0 10PX;
    vertical-align: middle;
    padding-top: 3px;
}
.social-icons a {
   display: block;

}

.social-icons li:nth-child(n+2) {
    margin-left: 10px;
}

.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}

.footerInformationList {
    width: 80%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    float: left;
    
}

.footerInformationList li {
    display: inline;
    padding: 0% 1% 0% 1%;
    text-decoration: none;
    color: white;
}

.footerInformationList li a{
    text-decoration: none;
    color: white;
}
.footerInformationList li a:hover{
    text-decoration: underline;
}


/************************ RESPONSIVE DESIGN ***************************/


/*
@media screen and (min-width: 1600px){
    .controls ul li{
        font-size: 33px;
    }
}
@media screen and (max-width: 1366px) {
    .container {
        width: 90%;
    }
    .controls ul li {
        height: 70%;
        width: 30%;

    }
    .link {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 910px){
    #searchForm{
        margin-top: 40px;
    }
}
@media screen and (max-width: 867px){
    .nav li{
        font-size: 1.6vw;
    }
}
@media screen and (max-width: 768px) {

    #page-header {
        height: 20%;
        text-align: center;
    }

    .top {

        height: 82%;
    }

    .welcome {
        width: 33.3%;
        height: 100%;
        float: left;
        font-size: 2vw;
        text-align: right;
    }

    .login-frame {
        position: relative;
        width: 100%;
        height: 150%;
        background: #fbfbfb;
        margin: 0;
        border: 1px solid #cccccc;
        font-size: 14px;
    }

    .login-frame form ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        float: left;
    }

    .login-frame form ul li {
        display: inherit;
        width: 92.5%;
        height: 200%;
        text-align: center;
        margin: 4% 0% 0% 4%;
    }

    .login-frame form ul li input {
        width: 100%;
        height: 100%;
        padding: 5% 5% 5% 5%;
    }

    .login-frame form ul li input[type="submit"] {
        height: 100%;
        width: 100%;
        color: #fff;
        font-weight: bold;
        background: #34A994;
        border: none;
    }

    .login-frame form ul li a {
        padding: 0;
    }



    .cart-title a {
        padding-right: 5px;
    }

    .amount {
        color: #34A994;
        display: inline-block;
        padding-right: 5px;
    }

    .bottom {
        display: inline-block;
        width: 100%;
        font-size: 2vw;
    }



    .title h1 {
        margin-top: 4px;
    }

    .controls ul li {
        height: 80%;

    }

    .container {
        width: 80%;
    }
}
@media screen and (max-width: 660px){
    #page-header{
        height: auto;
        padding-bottom: 0;
    }
    .controls ul li{
        width: 50%;
        border: none;

    }
    .link{
        font-size: 22px;
    }

    .nav li{
        display: block;
        width: 150px;
        margin: 0 auto;
    }
    #searchForm{
        height: 20px;
        font-size: 16px;
    }
    .search-bar{
     height: 35px;
    }
    .fa-search{
        padding-top: 8px;
    }
    .search input[type="search"] {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {

    .search input {
        height: 20px;
        margin-top: 13px;

    }

}
*/