/**
 * Created by PhpStorm.
 * User: Matus Kacmar
 * Date: 7. 12. 2015
 * Time: 14:23
 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    width: 100%;
    height: 100%;
    color: #595959;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: #fbfbfb;
    cursor: default;
}
.container {
    width: 60%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}
/************************ HEADER ***************************/
#page-header {
    width: 100%;
    height: 20%;
    min-height: 200px;
    border-bottom: 3px solid #34A994;
	padding-bottom: 10px;
}
.top {
    width: 100%;
    height: 82%;
    padding-top: 20px;
}
.bottom {
	display:block;
    width: 100%;
    height: 20%;
}
.welcome {
    width: 33.3%;
    height: 100%;
    float: left;
    font-size: 14px;
}
.welcome-label img {
    float:left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.title {
    width: 33.3%;
    height: 100%;
    float: left;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 0px;
}

.title a {
    color: #34A994;
	font-size: 4.2vw;
    text-decoration: none;
}
.welcome-buttons a {
    color:#484848;
    text-decoration: none;
}
.welcome-buttons a:hover {
    color: #34A994;
}
.login-frame {
    position: relative;
    width: 95%;
    height: 80%;
    background: #fbfbfb;
    margin: 0;
    border: 1px solid #cccccc;
    font-size: 14px;
}

.login-frame form ul {
    height: 100%;
    width: 103%;
    list-style-type: none;
    float: left;
}
.login-frame form ul li {
    display: inline-block;
    width: 42%;
    height: 200%;
    text-align: left;
    margin: 4% 0% 0% 4%;
}
.login-frame form ul li input {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;
}
.login-frame form ul li input[type="submit"] {
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #34A994;
    border: none;
}
.login-frame form ul li a {
    padding: 0;
}
.search {
    width: 33.3%;
    height: 100%;
    float: left;
    font-size: 14px;
    text-align: right;
    padding-top: 0px;
    letter-spacing: 0.5px;
}
.search input[type="search"] {
    width: 80%;
}
.cart {
    float: right;
}

.cart-title {
    float: left;
    line-height: 30px;
    vertical-align: middle;
}
.cart-title ul{
    list-style: none;
}

.cart-title a {
    text-decoration: none;
    color: #484848;
    padding-right: 4px;
}
.cart-title a:hover {
    text-decoration: underline;
}

.amount {
    color: #34A994;
}
#searchForm{
    width: 90%;
    margin-left: 10%;
    font-size: 20px;
}
.search-bar{
    height: 45px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    background:#fbfbfb;

}
.fa-search{
    float: left;
    padding-top: 10px;
}
#fa-2x {
    font-size: 1.5em;
}
.search input {
    float: left;
    padding-left: 10px;
    border: none;
    height: 95%;
    padding: 2px 0px;
    background: #fbfbfb;
    margin-left: 7px;

}
.search input:focus{
    outline: none;
}
.page-nav {
    text-align: center;
}
.nav {
    list-style-type: none;
}
.nav li {
    display: inline-block;
    margin: 5px 20px 5px 20px;
}
.nav li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
	font-size:130%;
    color: #595959;
    height: 30px;
    padding: 5px 20px 5px 20px;
	
}
.nav li a:hover{
    font-size: bold;
    color: #34A994;

}
.subnav {
    visibility: hidden;
    position: absolute;
    background: #fbfbfb;
    border: 1px solid #cccccc;
    border-top: none;
}
.subnav li {
    display: block;
}

/************************ MAIN ***************************/
.main  {
    width: 100%;
}
.slider-wrapper {
    width: 95%;
    height: 300px;
    margin: 35px auto;
    text-align: center;
}
.slider {
    position: absolute;
    width: 1084px;
    height: inherit;
    overflow: hidden;
}
.sliderContent {
    position: relative;
    width: 1084px;
    z-index: 10;
}
.slides {
    width: 1094px;
}
.slides img {
    width: 100%;
    height: 100%;
}
#left-arrow {
    position: absolute;
    line-height: 300px;
    vertical-align: middle;
    font-size: 50px;
    color: #000;
    padding-left: 10px;
    z-index: 100;
}
#left-arrow a {
    color: #484848;
    text-decoration: none;
}
#right-arrow {
    position: absolute;
    line-height: 300px;
    vertical-align: middle;
    font-size: 50px;
    color: #000;
    margin-left: 500px;
    z-index: 50;
    top: 0;
    left: 10px;
}
#right-arrow a {
    color: #484848;
    text-decoration: none;
}
.tabs {
    width: 95%;
    height: 1200px;
    margin: 20px auto;
}
.controls {
    display: table;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.controls ul {
    width: 100%;
    height: 100%;
    text-align: center;
}
.controls ul li {
    display: inline-block;
    height: 100%;
    width: 350px;
    font-size: 45px;
    list-style-type: none;
    border-right: 1px solid #cacaca;
}
.controls ul li:last-child {
    border: none;
}
.link {
    font-weight: lighter;
    color: #484848;
    text-decoration: none;
}
.arrow {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    margin-left: 10px;
    font-size: 20px;
}
.tab-content {
    width: 100%;
    height: 1100px;
    padding: 20px;
}
.tab-content p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.top-tab-content {
    width: 100%;
    height: 16px;
}
.bottom-tab-content {
    width: 100%;
    height: 984px;
    padding-top: 50px;
}
.row {
    width: 100%;
    height: 49.78%;
    margin-top: 20px;
}
.product-item {
    display: inline-block;
    width: 22.85%; /*1225.48 35.138*/
    height: 90.21%;
    background: #cccccc;
    margin-bottom: 55px;
    overflow: hidden;
    margin-right: 2.86%;
    border: 1px solid #cacaca;
    vertical-align: top;
}
.row .product-item:nth-child(4){
    margin-right: 0;
}
.product-photo {
    width: 100%;
    height: 300px;
    background: #fff;
}
.product-description {
    width: 100%;
    height: 200px;
    background: #fff;
    text-align: center;
    padding-top: 10px;
}
.product-line {
    width: 50px;
    margin: 0 auto;
}
.product-name {
    display: block;
    margin-top: 20px;
}
.product-body:hover .product-name{ 
    font-weight: normal; 
}
.addToCart {
    display: block;
    width: 200px;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 10px auto;
    background: #34A994;
    text-decoration: none;
}
/*
.more {
    text-align: center;
    font-size: 30px;
}
.more a {
    color: #484848;
    text-decoration: none;
    line-height: 110px;
    vertical-align: middle;
}
*/
/************************ FOOTER ***************************/
.footer {
    height: 300px;
    border-top: 1px solid #ccc;
}
.foot-title {
    width: 300px;
    border-bottom: solid 1px #cccccc;
    font-size: 20px;
}
.text {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #484848;
    font-weight: bold;
}
.contact-us {
    width: 300px;
}
.contact-us ul li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.contact-us ul li {
    line-height: 22px;
    list-style: none;
}
.mail{
    text-decoration: none;
    color:  #484848;
    font-weight: 600;
}
.mail:hover{
    font-weight: bold;
}
.social-icons ul li{
    display: inline-block;
}
.social-icons a {
    display: block;
    color: white;
    background: #595959;
    font-size: 25px;
    height: 27px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 2px;


}
.social-icons a:hover{
    border: none;
    color:   #595959;
    background: white;
    border-radius: 5px;
}
.social-icons li:nth-child(n+2) {
    margin-left: 10px;
}
.payment-icons {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.payment-icons img {
    padding-left: 20px;
}

.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}
.group{
    *zoom:1 ;
}


/************************ RESPONSIVE DESIGN ***************************/

@media screen and (max-width: 1650px) {
    .container {
        width: 65%;
    }
    .controls ul li {
        width: 310px;
        font-size: 38px;
    }
}
@media screen and (min-width: 1600px){
    .link{
        font-size: 33px;
    }
}
@media screen and (max-width: 1366px) {
    .container {
        width: 70%;
    }
    .controls ul li {
        height: 80%;
        width: 30%;
        font-size: 30px;
    }
    .link {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 910px){
    #searchForm{
        margin-top: 40px;
    }
}
@media screen and (max-width: 867px){
    .nav li{
        font-size: 1.6vw;
    }
}
@media screen and (max-width: 768px) {
    /*HEADER*/
    #page-header {
        height: 20%;
        text-align: center;
    }

    .top {

        height: 82%;
    }

    .welcome {
        width: 33.3%;
        height: 100%;
        float: left;
        font-size: 2vw;
        text-align: right;
    }

    .login-frame {
        position: relative;
        width: 100%;
        height: 150%;
        background: #fbfbfb;
        margin: 0;
        border: 1px solid #cccccc;
        font-size: 14px;
    }

    .login-frame form ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        float: left;
    }

    .login-frame form ul li {
        display: inherit;
        width: 92.5%;
        height: 200%;
        text-align: center;
        margin: 4% 0% 0% 4%;
    }

    .login-frame form ul li input {
        width: 100%;
        height: 100%;
        padding: 5% 5% 5% 5%;
    }

    .login-frame form ul li input[type="submit"] {
        height: 100%;
        width: 100%;
        color: #fff;
        font-weight: bold;
        background: #34A994;
        border: none;
    }

    .login-frame form ul li a {
        padding: 0;
    }



    .cart-title a {
        padding-right: 5px;
    }

    .amount {
        color: #34A994;
        display: inline-block;
        padding-right: 5px;
    }

    .bottom {
        display: inline-block;
        width: 100%;
        font-size: 2vw;
    }



    .title h1 {
        margin-top: 4px;
    }

    .controls ul li {
        height: 50%;

    }

    .container {
        width: 80%;
    }
}
@media screen and (max-width: 660px){
    #page-header{
        height: auto;
        padding-bottom: 0;
    }
    .nav li{
        display: block;
        width: 150px;
        margin: 0 auto;
    }
    #searchForm{
        height: 20px;
        font-size: 16px;
    }
    .search-bar{
     height: 35px;
    }
    .fa-search{
        padding-top: 8px;
    }
    .search input[type="search"] {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {

    .search input {
        height: 20px;
        margin-top: 13px;

    }

    .link {
        font-size: 4vw;
    }
    .controls ul li {
        width: 50%;
        border: none;

    }
}
