@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);

#product-prewiew{
    margin-top: 15px;
    width: 100%;
	height: 100%;
}

.product-name{
    font-size: 30px;
    width: 700px;
	font-weight: 700;
    text-align: left;
    display: inline-block;
	vertical-align: top;
	white-space: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #595959;
}

.aftername1{
	width: 335px;
	padding-right: 0px;
	display: inline-block;
	
}

.product-brand{
    font-size: 20px;
    font-weight: 600;
	padding-top: 10px;
    padding-bottom: 10px;
}

.pictable{
    display: inline-block;
    vertical-align: middle;
    
}

.pictable td{
    border: 1px solid #d0d0d0;
    width: 100px;
    height: 100px;
}

#propic {
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;
    margin: auto;
    max-width: 350px;
	max-height: 350px;
    border: 1px solid #d0d0d0;

    -webkit-box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    -moz-box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
}

.bigpic{
	visibility: hidden;
    position: fixed;
    background-color: #e5e5e5;
    padding: 0px;
    /* left: -1000px; */
    border: 1px solid #d0d0d0;

    -webkit-box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    -moz-box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    box-shadow: 0px 6px 9px 0px rgba(94,102,99,1);
    
    color: black;
    text-decoration: none;
    max-width: 300px;
}

td:hover .bigpic{
    visibility: visible;
    margin-top: 110px;
    margin-left: -100px;
}

.product-slider{
    position: relative;
    border: 0;
    margin: 2%;
    margin-left: 4%;
	margin-right: 0px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    background-color: white;
    padding-bottom: 30px;

}

#about-product{
	width: 700px;
    
    vertical-align: top;
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 20px;
}

.product-ranking{
    margin-bottom: 5px;
	margin-left: 0;
}

.product-ranking img {
    width: 35px;
    height: 35px;
}

.image-album{
	cursor: pointer; cursor: hand;
}

.cost-form{
    width: 70%;
    text-align: left;
    color: #595959;

}

.cost{
    width: 180px;
    height: 100%;
    display: block;
    float: left;
    padding-top: 0px;
	padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
    
    font-size: 48px;
    color:#34A994;
}

.submit-input{
    height: 100%;
    width: 180px;
    
    display: block;
}
.submit-input input{
    width: 100%;
    height: 100%;
    /*margin-top: 30px;*/
    background-color: #34A994;
    border: none;
    font-weight: bold;
    color: #fbfbfb;
    font-size: 23px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    outline: none;
    border: 3px solid #fbfbfb;
}
.submit-input input:hover{
    color:#34A994;
    background-color: #fbfbfb;
    cursor: pointer; cursor: hand;
    border: 3px solid #34A994;
    outline: none;
}

.desc{
	
    
    width: 360px;
	
    vertical-align: top;
    text-align: center;
	
    padding-top: 10px;
    margin-bottom: 100px;
    display: inline-block;
}

.description-title{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 18px;
	font-weight: 600;
	font-size: 20px;
    
}

.description-text{
    text-align: justify;
    text-justify: inter-word;
    vertical-align: middle;
    display: inline-block;
    width: 90%;
    
}

.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}
.group{
    *zoom:1 ;
}

/*@media screen and (max-width: 1415px) {
    #about-product{
        width: 45%;
        
    }
}

@media screen and (max-width: 1152px) {
    #about-product{
        width: 45%;
        
    }
}

@media screen and (max-width: 1160px) {
    
}


@media screen and (max-width: 1025px) {
    #about-product{
        width: 40%;
        
    }
}

@media screen and (max-width: 750px) {
    #about-product{
        width: 100%;
        
    }
}*/