/*#tab{
    color: #595959;
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
}*/
.error {
    color: red;
}
.title-page{
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 20px; border-bottom: 1px solid #ccc;
    text-align: center;

}
.title-page span{
    font-weight: bold;
    font-size: 2.5vw;

}
/*
#formulars{
    display: block;
    margin: 30px;
}
#menu-content{
    max-height: 190px;
    width: 25%;
    border:1px solid #ccc;
    display: block;
    float: left;
}
#menu {
	color: #595959;
    list-style: none;
    padding: 0;
	cursor: pointer; cursor: hand;
}

#menu li a{
    font-weight: bold;
    text-decoration: none;
}

.tabselect{
	padding: 10px;
}

.tabselect:hover {
    color: white;
    background: #34A994;
}

#regtab1{
	border-bottom: 1px solid #ccc;
}

#all-tab{
    width: 70%;
    display: block;
    float: left;
    margin-left: 20px;

}

.tab-content {
    display: none;
}
.tab-content:target {
    display: block;
}*/

/*formular-input*/
.form ul{
    list-style: none;
    margin-top: 25px;

}
.form ul li{
    display: block;

    text-align: right;
    margin: 0 auto;
    margin-top: 25px;
    width: 60%;
}
.form ul li:last-child{
    text-align: center;
}

.input{
    max-width: 380px;
    min-width: 145px;
    width: 300px;
    height: 35px;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
    font-size: 1em;
    font-weight: 200;
}
.inputName {
    width: 150px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    padding-top: 5px;
}
.submit-button{
    background: white;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 55px;
    margin-bottom: 10px;
    margin-left: 150px;
    background: #34A994;
    padding:15px 25px;
    border-style: none;
    color: white;
    outline: none;
    border: 3px solid #fbfbfb;
    cursor: pointer; cursor: hand;
}
.submit-button:hover{
    background-color: #fbfbfb;
    border: 3px solid #34A994;
    color: #34A994;
    outline: none;
    cursor: pointer; cursor: hand;
}
.registrationForm li{
    width: 42% !important;
}
/*switching*/
/*
.tab-content {
    z-index: 0;
    height: 380px;
}
#tab1{
    padding: 0;
}
#tab2{
    padding: 0;
}
.tab-content:first-child {
    z-index: 1;
}
.tab-content:target {
    z-index: 2;
}*/

/*Floating*/
.group:before,
.group:after {
    content: " ";
    display: block;
}
.group:after{
    clear: both;
}
.group{
    *zoom:1 ;
}
.g-recaptcha {
    margin-left: 180px;
}
/*MEDIA QUERY*/
/*@media screen and (min-width: 1250px){
    .title-page span{
        font-size: 32px;
    }
}
@media screen and (max-width: 660px){
    #menu-content{
        min-width: 110px;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 560px){
    #all-tab{
        margin-top: 15px;
        margin-left: 0px;
    }
}*/